<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686688433092-0a9fv7miov1qrnicdub7ssvrheh5pl7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686688433092-0a9fv7miov1qrnicdub7ssvrheh5pl7s</string>
	<key>API_KEY</key>
	<string>AIzaSyDbYBLOQWzzwHDKVWQViHwGDGwcakYqNpE</string>
	<key>GCM_SENDER_ID</key>
	<string>686688433092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skytechnohub.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-f56db</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-f56db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686688433092:ios:e2da0117d2c9024cbcea91</string>
</dict>
</plist>